.container, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    font-size: 1rem;
}

#title {
    margin: 3%;
    font-size: 2.5rem;
}

.input-group {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn {
    color: white;
    background-color: black;
}
#url {
    margin-right: 5%;
}

.textBox {
    width: 50%;
    margin: auto;
}

.textBox p {
    text-align: left;
    line-height: 1.5;
}

.box {
    width: 100%;
    max-width: 1065.83px;
    overflow: scroll;
    height: 300px;
    resize: none;
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
    background-color: rgb(75, 76, 79);
    outline: none;
    letter-spacing: 1.5px;
    border-top: rgb(155, 153, 153) 20px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#infoBoxes {
    flex-wrap: wrap;
    display: flex;
    text-align: left;
}

#crawling {
    float: right;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#scanning {
    float: left;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.blinker {
    display: inline;
    margin-left: 3px;
    margin-top: 1px;
    width: 10px;
    border-left: .50em solid white;
    animation: blink-caret .75s step-end infinite;
}

.arrows{
    display: inline;
    width: 50px;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}

.text {
    overflow: hidden;
    letter-spacing: .15em;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.info {
    text-align: left;
}

#result {
    margin: 3%;
    outline: none;
    height: 1%
}

#rgbValue {
    resize: none;
    display: inline-block;
    width: 50%;
    background-color: rgb(75, 76, 79);
}

#rgbValText {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: whitesmoke;
}

.footer {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: underline;
    cursor: url(./heart.png), auto;
    /* Icon made by https://www.flaticon.com/authors/smashicons */
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: .5rem;
    }
    #scanning, #crawling {
        width: 75%;
        margin: auto;
        margin-top: 2%;
    }
    #url {
        font-size: .5rem;
    }
    .btn {
        width: 50px;
        height: 25px;
        font-size: .5rem;
        padding: 0;
    }
    #infoBoxes {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }
    .info {
        margin-bottom: 3px;
    }
    .box {
        height: 150px;
        overflow: scroll;
    }
    #rgbValText {
        font-size: 1rem;
    }
    .textBox {
        width: 90%
    }
    #title {
        font-size: 2rem;
    }
}