.container, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;

}

#title {
    margin: 3%;
}

.input-group {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#url {
    width: 50%;
    margin-right:10%;
}

.box {
    width: 100%;
    height: 300px;
    overflow: auto;
    resize: none;
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
    background-color: rgb(75, 76, 79);
    outline: none;
}

#infoBoxes {
    flex-wrap: wrap;
    display: flex;
}

@media only screen and (max-width: 600px) {
    #infoBoxes {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }
    .box {
        width: 75%;
        height: 150px;
        font-size: 13px;
        overflow: scroll;
    }
    #rgbValue {
        font-size: 13px;
        width: 75%;
    }
}

#crawling {
    float: right;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
}

#scanning {
    float: left;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
}

.info {
    text-align: left;
}

#result {
    text-align: center;
    margin: 3%;
    outline: none;
}

#rgbValue {
    resize: none;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.footer {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}

.footer p a {
    cursor: url(./heart.png), auto;
    /* Icon made by https://www.flaticon.com/authors/smashicons */
}